html,
body {
  padding: 0;
  margin: 0;
  font-family: serif !important;
  padding-top: 55px;
}

a {
  color: inherit;
  text-decoration: none !important;
}

td {
  font-size: 3.5vh;
  font-weight: 400;
  color: #062c6e;
}

* {
  box-sizing: border-box;
  color: #0b0e26;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.purple {
  background: #f2e8ff;
  padding: 10px;
  border-radius: 25px;
}
.blue {
  background: #e6f7ff;
  padding: 10px;
  border-radius: 25px;
}
.orange {
  background: #fff8dd;
  padding: 10px;
  border-radius: 25px;
}
.green {
  background: #e9faf7;
  padding: 10px;
  border-radius: 25px;
}
.pink {
  background: #ffe5e5;
  padding: 10px;
  border-radius: 25px;
}
.solutions {
  max-width: 582px;
}
.solutionDescription {
  color: #03074999;
}
.darkHover:hover {
  border-radius: 10px;
  background-color: #f4f4f4;
  position: relative;
  color: #062c6e !important;
}
.navHover {
  border-radius: 10px;
  background-color: #f4f4f4;
  position: relative;
  color: #062c6e !important;
}
.lightHover:hover,
.lightHover:active,
.lightHover:focus {
  border-radius: 10px;
  background-color: #ffffff;
  transform: scale(1.1);
}
.head1 {
  font-weight: 600;
  font-size: 10.24vh;
  line-height: 13.92vh;
}
.head2 {
  font-weight: 600;
  font-size: 7.68vh;
  line-height: 10.4vh;
}
.head2-offer {
  font-weight: 600;
  font-size: 5.76vh;
  line-height: 8vh;
}
.head3 {
  font-weight: 600;
  font-size: 3.84vh;
  line-height: 5.6vh;
}
.head4 {
  font-weight: 700;
  font-size: 2.56vh;
  line-height: 4.8vh;
}
.p1 {
  font-weight: 400;
  font-size: 2.88vh;
  line-height: 4.8vh;
}
.p2 {
  font-weight: 400;
  font-size: 2.56vh;
  line-height: 4.8vh;
}
.p3 {
  font-weight: 400;
  font-size: 1.9vh;
  line-height: 4vh;
}
.p4 {
  font-weight: 300;
  font-size: 3.84;
  line-height: 4.8vh;
}
.footer-head {
  font-weight: 700;
  font-size: 3.03vh;
  line-height: 4.8px;
}

.blue-text {
  color: #062c6e !important;
}

.backgg {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    85deg,
    #089eaf,
    #436656,
    #2adcfb,
    #eb57e4,
    #9757eb,
    #664cc7
  );
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
  border-radius: 20px;
}

.vertical_divider > div[class^='col-'] {
  border-left: 0.6px solid #c4c4c4;
}
.vertical_divider > div[class^='col-']:first-child {
  border-left: none;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
  transform: scale(1.1);
}

.button-primary:hover {
  background-color: #ffffff !important;
  color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.button-dark:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #000000 !important;
}

.active-tab {
  background-color: #000000;
  color: #ffffff !important;
  border-radius: 30px;
  text-decoration-color: #e0f0ff !important;
  cursor: pointer;
}

.tab:hover {
  border-radius: 30px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.inputHover:hover,
.inputHover:active {
  background: #fff !important;
  border-color: #0d6efd !important;
}

.top-border {
  border-top: 2px solid #0055bb;
  border-radius: 0px 0px 8px 8px;
}

.intro-img2 {
  /* clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%); */
  clip-path: polygon(35% 0%, 100% 1%, 100% 100%, 0% 100%, 0% 50%);
}
.verify-id {
  background-color: #e0f0ff !important;
  color: #0052ff !important;
}

.pay-input {
  border: none;
}
.pay-input:hover,
.pay-input:active,
.pay-input:focus {
  background-color: #eff3f8 !important;
  border: 1px solid #0052ffb5 !important;
}
.pos {
  position: relative;
}

.pos::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2630%;
  border-radius: 25px;
  z-index: -1;
  background: #0ccc4c 0 0;
  transform: rotate(5deg);
}

.otp-input {
  max-width: 50px;
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
  appearance: none;
}
.anni {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 150px;
  top: 0;
  overflow-x: hidden;
}
.message {
  position: absolute;
  top: 150%;
}
.password-icon {
  cursor: pointer;
  position: relative;
  bottom: -78px;
  left: 90%;
}
.pass-field {
  position: relative;
  bottom: -20px;
}
.pass-field2 {
  position: relative;
  bottom: -10px;
}
/* .handle-error {
  position: absolute;
  left: 20%;
  width: 100px;
  height: 80px;
} */
.error-danger {
  padding: 10px;
  background-color: #f44336;
  color: white;
  border-radius: 20px;
  margin-bottom: 15px;
}
.error-success {
  padding: 10px;
  border-radius: 20px;
  background-color: #00e600;
  color: white;
  margin-bottom: 15px;
}
.error-warning {
  padding: 10px;
  border-radius: 20px;
  background-color: #ffd11a;
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  padding-top: 8px;
  font-size: 35px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: #1a1a00;
}

.backg {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    #f1e2e4,
    #d2cdf8,
    #fae6d1,
    #c7fdf1,
    #f4f4f4
  );
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
  border-radius: 20px;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.transparent-bg {
  background-color: #fff3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px solid white;
}
.advantages-bg {
  height: 100%;
  width: 100%;
  background-color: #062c6e;
  border-radius: 20px;
}
.transparent-bg-roll {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px solid white;
}

.box::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

/* * Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property ) */

.box::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(-465deg, #062c6e 0%, #57ebde 100%); */

  background: linear-gradient(
    236deg,
    #062c6e,
    #00ffea,
    green,
    #0400ff,
    rgb(124, 165, 240),
    #062c6e
  );
  /* transform: translate3d(28px, 31px, 0) scale(0.83); */
  /* filter: blur(43px);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: 25px;*/
}
